.secao-produtos{
    width: 100%;
    text-align: center;
    padding: 100px 20px;
}

.card-container{
    margin: 50px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
    
    

    
}

.card{
    background-color: #f6f6f6;
    width: calc(50% - 18px);
    padding: 20px 10px;
    margin:5px 5px ;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
}

.card h3{
    margin: 0;
    font-size: 32px;
}

.card img{
    width: 80%;
    max-width: 150px;
    margin: 30px 0;
    box-sizing: border-box;
}

.card p{
    margin: 0;
    font-weight: bold;
    font-size: 22px;
}

.produtos-lista{
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: center;
}




@media(max-width:768px){
    .secao-produtos{
        padding: 60px 20px;
    }
    .card h3{
        font-size: 22px;
    }

    .card img{
        max-height: 100px;
    }
    .card p {
        font-size: 16px;
    }
  }

@media(max-width:550px){
    .secao-produtos{
        padding: 0 10px;
    }
    .card{
        width: 100%;
    }
    .produtos-lista{
        text-align: left;
    }
}